@model IEnumerable<Pizzeria.Models.Dish>
@inject Pizzeria.Services.DishCategoryService DishCategoryService


@foreach (var item in DishCategoryService.GetCategory())
{
    <h3>@item.Discription</h3>
            @foreach (var dish in Model.Where(x =>x.DishCategory == item))
            {
                Html.RenderPartial("_Dish", dish);
            }
}

