@model Pizzeria.Models.Dish
@inject Pizzeria.Services.DishService DishService

@{ 
    var url = Url.Action("GetImg", "Dishes", new { id = Model.DishId });
}

<div class="dish">
    <table style="width:100%">
        <tr>
            <td style="width:10%">
                <img src="@url" style="width: 100%" />
            </td>
            <td style="width:5%">
            </td>
            <td style="width:75%">
                <h4>@Model.Name</h4>
                <p>@DishService.IngredientList(Model.DishId)</p>
            </td>
            <td style="width:30%">
                <h4> @Model.Price kr</h4>
            </td>
            <td style="width:5%">
                <button type="submit" class="buy" name="add-@Model.DishId">
                    <span class="glyphicon" glyphicon-shopping-cart></span>
                </button>
            </td>
        </tr>
    </table>
</div>
<br />
