@*@model IEnumerable<Pizzeria.Models.DishCategory>*@
@model IEnumerable<Pizzeria.Models.Dish>

@{
    ViewData["Title"] = "Home Page";
}


<form asp-controller="Home" asp-action="AlacarteAction" method="post">
    <div class="row">
        <div class="col-md-8">
            <h2>A la carte</h2>
            @{
                Html.RenderPartial("_Alacarte", Model);
                }
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            @{ 
                Html.RenderPartial("_YourOrder");
            }
        </div>
    </div>
</form>
