@*@model IEnumerable<Pizzeria.Models.DishCategory>*@
@model IEnumerable<Pizzeria.Models.Dish>

@{
    ViewData["Title"] = "Home Page";
}


<form asp-controller="Home" asp-action="AlacarteAction" method="post">
    <div class="row"  style="margin-top:20px">
        <div class="col-md-8"  style="border:solid;padding-left:20px;padding-right:20px;margin-left:20px;margin-right:20px">
            <h2>A LA CARTE</h2>
            @{
                Html.RenderPartial("_Alacarte", Model);
                }
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3" style="height:110px; background-color:black;;padding-bottom:20px;padding-left:20px;padding-right:20px;margin-left:20px;margin-right:20px">
        </div>
        <div class="col-md-3" style="border:solid;padding-bottom:20px;padding-left:20px;padding-right:20px;margin-left:20px;margin-right:20px">
            @{ 
                Html.RenderPartial("_YourOrder");
            }
        </div>
      
          
        </div>

      

</form>
